.theater_item {
	font-family: fantasy;
	background-color: #DEF;
	border-bottom: 1px dashed;
}

.theater_item:last-child {
	border-bottom: none;
}

.theater_item span {
	padding-left: 5px;
}

.theater_item img {
	vertical-align: middle;
}

.selected {
	background-color: #BCD;
}

#sidebar {
	float: right;
	width: 29%;
}

#route {
	background-color: #cde;
}

body {
	background-color: #CDE;
}