.theater_item {
	font-family: fantasy;
	background-color: #DDD;
}

.theater_item span {
	padding-left: 5px;
}

.theater_item img {
	vertical-align: middle;
}

.selected {
	background-color: #CCC;
}

#sidebar {
	float: right;
	width: 29%;
}

#route {
	background-color: #FFF;
}

body {
	background-color: #BBB;
}