.theater_item {
	font-family: fantasy;
	background-color: #DDD;
}
.selected {
	background-color: #CCC;
}

#sidebar {
	float: right;
	width: 29%;
}

#route {
	background-color: #FFF;
}

body {
	background-color: #BBB;
}